/**/
/*Do Not Open this file for copying the script! Remember this won't do*\
//you any good and you won't learn to code like a real developer!
//Always search on google for anything you don't understand.
//This script can be good for you to use as a refernce AFTER you have completed your website

/**/
/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/**/

html{
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    transition: background-color 2s;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(0, 255, 0);
    border-bottom: 4px solid rgb(0, 255, 0);
    padding: 0;
}
.logo-text{
    font-family: 'Amatic SC';
    font-size: 60px;
    border-right: 2px solid rgb(0, 255, 0);
    padding-left: 10px;
    padding-right: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
}
ul{
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: space-around;
}
ul a{
    text-decoration: none;
    color: red;
    font-family: 'monaco';
    font-size: 32px;
    border: 3px solid red;
    padding: 2px 5px;
    border-radius: 10px;
}
.theme{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    transition: all 2s;
}
.theme i{
    font-size: 40px;
}



.content{
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: black;
}
.left-buttons{
    width: 80%;
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 2s;
}
.content button,.slider{
   font-family: 'Amatic SC';
   font-weight: 400;
   width: 40%;
   font-size: 30px;
   height: auto;
   background-color: black;
   color: rgb(188, 255, 2);
   border: 2px solid black;
   transition: all 0.8s;
}
.sketch-area{
    display: flex;
    flex: 1;
    flex-shrink: 0;
    transition: background-color 2s;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    background-color: whitesmoke;
    width: 40%;
    height: auto;
    padding: 0;
    margin: 50px;
    flex-grow: 0;
  }
  
.grid-item {
    aspect-ratio: 1;
    color: gray;
    border: none;
    text-align: center;
    font-size: 10%;
  }

.right-elements{
    display: flex;
    justify-content: space-between;
}
.text-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: color 2s;
}
.text{
    font-family: 'Amatic Sc';
    font-size: 70px;
    font-weight: 700;
}

.grid-item{
    margin: 0;
    transition: all 0.4s;
}
.grid-container{
    flex-shrink: 0;
    transition: all 2s;
    
}

canvas{
    background-color: white;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}


.footer{
      height: 10%;
      padding: 10px;
      font-size: 32px;
      font-weight: 700;
      font-family: 'Amatic Sc';
      display: flex;
      justify-content: center;
      border-top: 1px solid black;
      background-color: rgb(255, 255, 255);
      color: rgb(63, 63, 63);
      transition: all 2s;
}

#colorWell{
    width: 10px;
    height: 300px;
    border: none;
    background-color: hsl(0, 2%, 10%);
    box-shadow:0px 0px 20px yellowgreen;
    transition: all 2s;
}

.ui{
    width: 30%;
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
